name: Build custom speculos-bitcoin image

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    name: Build and push ledger-app-builder image
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
    - name: Clone
      uses: actions/checkout@v2

    - name: Build and push speculos-bitcoin to GitHub Packages
      uses: docker/build-push-action@v1
      with:
        dockerfile: .github/workflows/Dockerfile
        repository: ledgerhq/app-bitcoin-new/speculos-bitcoin
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        tag_with_sha: true
        tags: latest